<h1 class="text-center">Editing user</h1>

<div class="container">

<div style="margin:0 210px;">
  <%= link_to users_path, class: "btn btn-secondary" do %>
    Back to users
  <% end %>
</div>

<%= render "form", user: @user %>
</div>

