<p style="color: green"><%= notice %></p>

<h1 class="text-center">
  Users
</h1>

<div class="container">
<%= link_to "New user", new_user_path, class: "btn btn-secondary mb-3" %>
<%= link_to "Events", events_path, class: "btn btn-secondary mb-3" %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4">
        <%= render user %>
      </div>
    <% end %>
  </div>
</div>

