/* Define custom colors */
:root {
    --custom-primary: #66a9d6;
    --custom-secondary: #333;
    --custom-background: #f5f5f5;
}

/* Use the custom colors */
.custom-primary-bg {
    background-color: var(--custom-primary) !important;
}

.custom-secondary-bg {
    background-color: var(--custom-secondary) !important;
}

.custom-background-bg {
    background-color: var(--custom-background) !important;
}
